<div class="instructor">
	<div class="row">
		<div class="col-xs-3 text-center">
			<a
				ng-click="$ctrl.canSeeSecretLink = !$ctrl.canSeeSecretLink"
				class="btn btn-primary btn-block">
				<span ng-show="$ctrl.canSeeSecretLink">Hide Instructor Link</span>
				<span ng-show="!$ctrl.canSeeSecretLink">Show Instructor Link</span>
			</a>
		</div>
		<div class="col-xs-9">
			<input
				type="text"
				disabled
				class="form-control"
				ng-show="$ctrl.canSeeSecretLink"
				ng-model="$ctrl.secretLink" />

			<input
				type="text"
				disabled
				class="form-control"
				ng-hide="$ctrl.canSeeSecretLink"
				value="Hidden" />
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<p class="strong">Link for students:</p>
		</div>
		<div class="col-xs-12">
			<input
				type="text"
				disabled
				class="form-control input-md"
				ng-model="$ctrl.publicLink" />
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h2>New Question</h2>

			<form ng-submit="$ctrl.pushNewQuestion()">
				<textarea
					rows="3"
					adjustable="true"
					class="form-control"
					placeholder="What is MVC?"
					ng-model="$ctrl.newQuestionText">
				</textarea>

				<button
					type="submit"
					class="btn btn-primary"
					ng-disabled="!$ctrl.newQuestionText">
					Push New Question
				</button>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h2>Questions</h2>

			<div class="well well-white" ng-repeat="question in $ctrl.questions">
				<h3><span class="strong">Question:</span> {{ question.content }}</h3>

				<table class="table table-striped">
					<thead>
						<tr>
							<th class="col-xs-3">Student</th>
							<th class="col-xs-9">Answer</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="answer in question.answers">
							<td>{{ answer.studentName }}</td>
							<td>{{ answer.content }}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div ng-if="!$ctrl.questions.length">
				You haven't pushed any questions yet.
			</div>
		</div>
	</div>
</div>
